.Brand {
  font-size: xx-large !important;
  font-weight: bolder;
  color: rgb(206, 12, 12) !important;
}
.links {
  font-size: larger !important;
  color: white;
  text-decoration: none !important;
}
.sourceCode {
  width:fit-content;
  padding-left: 5px !important;
  padding-right: 5px !important;
  color: white !important;
  font-size: large;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 2px;
}
.sourceCode:hover {
  color: green !important;
  font-weight: 700;
  background-color: white !important;
  border: 2px solid green !important;
  border-radius: 2px;
}
.links:hover {
  color: whitesmoke !important;
}
.Brand:hover {
  color: rgb(224, 61, 61) !important;
}
